<div class="oj-flex">

    <p style="padding: 5px 5px 0px 5px;">年</p>
    <select class="oj-sm-3 oj-md-2 oj-lg-2 oj-flex-item" data-bind="ojComponent: {component: 'ojSelect',
                                                    value: year,
                                                    optionChange: updateoption,
                                                    rootAttributes: {style:'flex: 0 1 24%;max-width: 24%;width: 24%; min-width: 1em;'}}">
        <option value="2016">2016</option>
        <option value="2017">2017</option>
    </select>
    <p style="padding: 5px 5px 0px 5px;">季度</p>
    <select class="oj-sm-3 oj-md-2 oj-lg-2 oj-flex-item" data-bind="ojComponent: {component: 'ojSelect',
                                                    value:session,
                                                    optionChange: updateoption,
                                                    rootAttributes: {style:'flex: 0 1 24%;max-width: 24%;width: 24%; min-width: 1em;'}}">
        <option value="所有">所有</option>
        <option value="1">一</option>
        <option value="2">二</option>
        <option value="3">三</option>
        <option value="4">四</option>
    </select>
    <p style="padding: 5px 5px 0px 5px;">月</p>
    <select class="oj-sm-3 oj-md-2 oj-lg-2 oj-flex-item" data-bind="ojComponent: {component: 'ojSelect',
                                                    value: month,
                                                    optionChange: updateoption,
                                                    rootAttributes: {style:'flex: 0 1 24%;max-width: 24%;width: 24% ; min-width: 1em;'}}">
        <option value="所有">所有</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
    </select>
</div>
<div class="oj-flex oj-menu-contents">
    <select  class="oj-sm-4 oj-md-2 oj-lg-2 oj-flex-item changableSelect1" data-bind="ojComponent: {component: 'ojSelect',
                                                    value: firstArea,
                                                    optionChange: optionChangedHandler,
                                                    rootAttributes: {style:'flex: 0 1 33%;max-width: 33%;width: 33%; min-width: 1em;'}}">
        <!-- ko foreach: areaArray -->
        <option data-bind="value:value, text:label"></option>
        <!-- /ko -->
    </select>

    <select class="oj-sm-4 oj-md-2 oj-lg-2 oj-flex-item changableSelect2" data-bind="ojComponent: {component: 'ojSelect',
                                                    value: secondArea,
                                                    optionChange: updateoption,
                                                    rootAttributes: {style:'flex: 0 1 33%;max-width: 33%;width: 33%; min-width: 1em;'}}">
        <!-- ko foreach: areaChild -->
        <option data-bind="value:value, text:label"></option>
        <!-- /ko -->
    </select>

    <select class="oj-sm-3 oj-md-3 oj-lg-3 oj-flex-item" data-bind="ojComponent: {component: 'ojSelect',value: JYchange,
optionChange: updateoption,
rootAttributes: {style:'flex: 0 1 33%;max-width: 33%;width: 33%; min-width: 1em;'}}">
        <option value="ALL">转/非转</option>
        <option value="转基因">转基因</option>
        <option value="非转基因">非转基因</option>
    </select>

    <button id= "filterBtn" class="filterBtn"
            data-bind="click: filterAction, 
                       ojComponent: { component: 'ojButton', label: '确定' }">
    </button>

</div>



<div class="oj-flex" style="width: 100%;align-content: center;margin: 0 auto;">
    <!-- ko if: navListDataReady -->
    <div id="infoCategories" class=" oj-flex oj-flex-items-pad" style="align-content: center;width: 100%;">
        <div class="oj-flex-item" style="overflow: auto;">
            <div data-bind="ojComponent: {component: 'ojConveyorBelt'}">
                <div data-bind="ojComponent:{
                                    component: 'ojNavigationList',
                                    drillMode: 'none',
                                    data: infoTilesDataSource,
                                    selection: tabSelect,
                                    edge: 'top',
                                    optionChange: navListOptionChangeHandler,
                                    item: { template: 'server_template' }
                        }" class="oj-sm-justify-content-center oj-navigationlist-stack-icon-label">
                </div>
            </div>
            <script type="text/html" id="server_template">
                <li data-bind="attr:{ id : $data['sid']}">
                    <a href="#">
                        <span class="oj-navigationlist-item-icon demo-employee-navi-label-phone"
                              data-bind="css: 'demo-navi-' + $data['title'] + '-icon'">
                        </span>
                         <!--ko text: $data['title']--><!--/ko-->
                    </a>
                </li>
                </script>
            </div>
        </div>
        <!-- /ko -->
        <div class="justifyCenter" style="padding:0px; background-color: #E7EDF2;">
            <div id="categoryDetailsArea">
                <div data-bind="ojModule: modulePath">
                </div>
                <!--                <div data-bind="ojModule: {viewName: detailsContentTemplate()}"></div>-->
            </div>
        </div>
    </div>