<div class="oj-flex">
	
	<form id='change-password-form'>
	<table>
		<tbody>
			<tr>
				<td>旧密码：</td>
				<td><input type="password" class="password-input" data-bind="value: oldPassword" /></td>
			</tr>
			
			<tr>
				<td>新密码：</td>
				<td><input type="password" class="password-input" data-bind="value: newPassword" /></td>
			</tr>
			
			<tr>
				<td>确认新密码：</td>
				<td><input type="password" class="password-input" data-bind="value: confirmPassword" /></td>
			</tr>
			
			<tr data-bind="visible: showMessage">
				<td colspan="2"><span data-bind="text: message, css: messageClass"></span></td>
			</tr>
			
			<tr>
				<td>&nbsp;</td>
				<td>
					<button id= "filterBtn" class="filterBtn"
						data-bind="click: updatePassword, 
								   ojComponent: { component: 'ojButton', label: '确定' }">
				    </button>
				</td>
			</tr>
		</tbody>
	</table>
    </form>
</div>
